#Prerequisites
*.d

#Compiled Object files
*.slo
*.lo
*.o
*.obj

#Precompiled Headers
*.gch
*.pch

#Compiled Dynamic libraries
*.so
*.dylib
*.dll

#Fortran module files
*.mod
*.smod

#Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app

*.pdb
*.log
*.idb
*.cnc
*.tlog
*.ilk
*.exp
*.cso
*.recipe
.vs/
/Client/Default/x64/Debug/pick_bulb.obj.enc
/Engine/Default/x64/Debug/shader.obj.enc
/Client/Bin/Engine.dll
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Effect/Bin/Engine.dll
/Tool_Map/Bin/Engine.dll
/Client/Default/imgui.ini
/Engine/Bin/Engine.dll
/Tool_Camera/Bin/Engine.dll
/Tool_Effect/Bin/Engine.dll
/Tool_Map/Bin/Engine.dll
/Client/Default/imgui.ini
/Client/Bin/Engine.dll
/Client/Bin/Debug/Engine.dll
/Client/Bin/Release/Engine.dll
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Camera/Bin/Engine.dll
/Tool_Effect/Bin/Engine.dll
/Tool_Map/Bin/Engine.dll
/Tool_Camera/Bin/Debug/Engine.dll
/Tool_Camera/Bin/Release/Engine.dll
/Tool_Effect/Default/x64/Debug/Tool_Effect.res
/Tool_Map/Bin/Debug/Engine.dll
/Tool_Map/Bin/Release/Engine.dll
/Tool_Map/Default/x64/Debug/Map_Tool.res
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Camera/Bin/Debug/Engine.dll
/Tool_Camera/Bin/Release/Engine.dll
/Tool_Effect/Bin/Engine.dll
/Tool_Map/Bin/Debug/Engine.dll
/Tool_Map/Bin/Release/Engine.dll
/Client/Bin/Release/Engine.dll
/Client/Bin/Debug/Engine.dll
/Client/Bin/Release/Engine.dll
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Animation/Bin/Debug/Engine.dll
/Tool_Animation/Bin/Release/Engine.dll
/Tool_Camera/Bin/Debug/Engine.dll
/Tool_Camera/Bin/Release/Engine.dll
/Tool_Effect/Bin/Engine.dll
/Tool_Map/Bin/Debug/Engine.dll
/Tool_Map/Bin/Release/Engine.dll
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Camera/Bin/Debug/Engine.dll
/Tool_Camera/Bin/Release/Engine.dll
/Tool_Effect/Bin/Debug/Engine.dll
/Tool_Effect/Bin/Release/Engine.dll
/Tool_Map/Bin/Debug/Engine.dll
/Tool_Map/Bin/Release/Engine.dll
/Client/Bin/Debug/Engine.dll
/Client/Bin/Release/Engine.dll
/Client/Bin/Debug/Engine.dll
/Client/Bin/Release/Engine.dll
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Camera/Bin/Debug/Engine.dll
/Tool_Camera/Bin/Release/Engine.dll
/Tool_Effect/Bin/Debug/Engine.dll
/Tool_Effect/Bin/Release/Engine.dll
/Tool_Map/Bin/Debug/Engine.dll
/Tool_Map/Bin/Release/Engine.dll
/Client/Bin/Debug/Engine.dll
/Client/Bin/Release/Engine.dll
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib
/EngineSDK/Lib/Engine.lib
/Tool_Animation/Bin/Debug/Engine.dll
/Tool_Animation/Bin/Release/Engine.dll
/Tool_Camera/Bin/Release/Engine.dll
/Tool_Effect/Bin/Debug/Engine.dll
/Tool_Effect/Bin/Release/Engine.dll
/Tool_Map/Bin/Debug/Engine.dll
/Tool_Map/Bin/Release/Engine.dll
/Client/Default/imgui.ini
/Tool_Effect/Bin/Release/Engine.dll
/Client/Bin/Resources/Textures/CubeMap/HDRI/
/Tool_Effect/Bin/Resources/Textures/CubeMap/HDRI
